{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add new term and definition to the Dictionary</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <input id="term" name="term"
                        class="materialize-textarea" maxlength="20" required></input>
                    <label for="term">New Term</label>
                </div>
            </div>                
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" class="materialize-textarea"></input>
                    <label for="username">User</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="definition" name="definition" class="materialize-textarea"
                        minlength="15" maxlength="128" required validate></textarea>
                    <label for="definition">Add Definition</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}