{% extends "base.html" %}

{% block content %}

<h3 class="center-align">Edit User Details</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_profile', entry_id=session._id) }}">
        <div class="card-panel">
            <!--Username Field-->
            <div class="row">
                <div class="col s12">
                    <h3 class="center-align">
                        {{ session.user }}'s Details
                    </h3>
                </div>
            </div>
            <!--email field-->
            <div class="row">
                <div class="input-field col s12">
                    <input value="Please type a new email" id="email" type="email" name="email" class="validate" required>
                    <label for="email">New E-mail Address</label>
                </div>
            </div>
            <!--Password field-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" minlength="3"
                        maxlength="16" pattern="^[a-zA-Z0-9]{3,16}$" class="validate" required>
                    <label for="password">New Password</label>
                </div>
            </div>

            <!--Register/cancel button-->

            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="col s5 btn-large">
                        Update details <i class="fas fa-sign-in-alt"></i>
                    </button>
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large red col s5 offset-m2">
                        Cancel edit
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}