{% extends "base.html" %}
{% block content %}

<div class="row card-panel">
    <form action="{{ url_for('search_result') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12">
                <i class="fas fa-search prefix"></i>
                <input type="text" name="query" id="query" class="validate">
                <label for="query">Search Terms</label>
            </div>
        </div>
    </form>
    <div class="row s12">
            <button type="submit" class="col s3 offset-s2 btn green">
                <i class="fas fa-search left"></i>Search
            </button>
            <a href="{{ url_for('main_search') }}" class="col s3 offset-s2 red btn">Reset</a>
        </div>
</div>

{% endblock %}