{% extends "base.html" %}
{% block content %}
{% for entry in searchs %}
{{entry.term}}<br>
{{entry.user}}<br>
{{entry.definition}}<br>
{% endfor %}

<ul class="collapsible">
    <li>
        <div class="collapsible-header black-text"><i class="fas fa-caret-down"></i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header black-text"><i class="fas fa-caret-down"></i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header black-text"><i class="fas fa-caret-down"></i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>

{% endblock %}