{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">

            <h3 class="center-align">
                {{ session.user }} registration details
            </h3>

            <!--Username Field-->

            
            
            <!--Email field-->
            

            <!--Edit Profile button-->

            <div class="row">
                <div class="col s6 offset-m3 center-align">
                    <a href="{{ url_for('edit_profile') }}" class="btn-small">Edit Profile Details</a>                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}