{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col s12 m10 l8 offset-m1 offset-l2">


        <h3 class="center-align">
            {{ session.user }} registration details
        </h3>

        <div class="card-panel">

            <h5 class="center-align">Terms added by {{ session.user }}</h5>

            <ul class="collapsible">
                {% for entry in searchs %}
                {% if entry.user == session.user %}
                <li>
                    <div class="collapsible-header black-text blue lighten-5"><i class="fas fa-caret-down"></i>
                        <strong>{{ entry.term }}</strong> by {{ session.user }}
                    </div>
                    <div class="collapsible-body">
                        <p>{{ entry.definition }}</p>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col s12 center-align">
                            <a href="{{ url_for('edit_entry', entry_id=entry._id) }}"
                                class="col offset-s2 s3 btn-small green btn-padding">Edit Term</a>
                            <a href="{{ url_for('delete_entry', term=entry._id) }}"
                                class="col offset-s2 s3 btn-small red btn-padding">Delete Term</a>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <!--Edit Profile button-->

            <div class="row">
                <div class="col s6 offset-s3 center-align">
                    <a href="{{ url_for('edit_profile', username=session.user) }}" class="blue btn-small">Edit Profile
                        Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}